.header
	padding: 5.5rem 0 1rem
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 5
	&__logo
		width: 27.8rem
		img
			max-width: 100%

.block-1
	background: url(../images/dist/bg-1.jpg) no-repeat bottom
	background-size: cover
	padding: 23rem 0 16rem
	p
		font-size: 2.2rem
		line-height: 1.36
		margin-bottom: 4.8rem
		max-width: 46rem

.block-2
	padding: 9rem 0 7rem