.btn
	display: inline-flex
	align-items: center
	justify-content: center
	text-align: center
	line-height: 1
	text-decoration: none
	padding: 0
	border: none
	&-primary
		border-radius: 5rem
		min-width: 18.6rem
		+bg-r-gr
		+btn-sh
		color: #fff
		font-weight: 700
		font-size: 1.2rem
		letter-spacing: 0.1em
		text-transform: uppercase
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21)
		padding: 2.3rem 2.8rem 2.1rem
		&:hover
			transform: scale(1.1)
	&-icon
		padding: 2rem 1.8rem 1.6rem 2.8rem
		&_26
			&::after
				margin-left: 2.6rem
		&_50
			&::after
				margin-left: 5rem
		&::after
			content: ''
			display: block
			width: 3.2rem
			height: 3.2rem
			flex-shrink: 0
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cg clip-path='url(%23clip0_8153_2190)'%3E%3Cpath d='M0.5 16C0.5 7.4375 7.4375 0.5 16 0.5C24.5625 0.5 31.5 7.4375 31.5 16C31.5 24.5625 24.5625 31.5 16 31.5C7.4375 31.5 0.5 24.5625 0.5 16ZM16 29.5C23.4187 29.5 29.5 23.4937 29.5 16C29.5 8.58125 23.4937 2.5 16 2.5C8.58125 2.5 2.5 8.50625 2.5 16C2.5 23.4188 8.50625 29.5 16 29.5ZM16.7812 23.7188L23.975 16.5312C24.2688 16.2375 24.2688 15.7625 23.975 15.4688L16.7812 8.28125C16.4875 7.9875 16.0125 7.9875 15.7188 8.28125L15.2875 8.7125C14.9937 9.00625 14.9937 9.49375 15.3 9.78125L20.6438 14.9375H8.75C8.3375 14.9375 8 15.275 8 15.6875V16.3125C8 16.725 8.3375 17.0625 8.75 17.0625H20.6438L15.2938 22.2188C14.9938 22.5125 14.9875 22.9937 15.2812 23.2875L15.7125 23.7188C16.0125 24.0125 16.4875 24.0125 16.7812 23.7188Z' fill='%23A2362D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_8153_2190'%3E%3Crect width='32' height='32' fill='white' transform='matrix(-1 0 0 1 32 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
			transform: translateY(-0.2rem)

.btn-groop-aroow
	position: relative
	display: inline-flex
	&::after
		content: ''
		display: block
		width: 7rem
		height: 7rem
		background-repeat: no-repeat
		background-size: contain
		transform: translate(2.2rem, -50%) rotate(-30deg)
		position: absolute
		left: 100%
		top: 0
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='72' viewBox='0 0 71 72' fill='none'%3E%3Cpath d='M13.6473 60.9738C13.9662 61.1998 14.4083 61.1226 14.635 60.8031C14.8604 60.4835 14.7838 60.0414 14.4643 59.8154L11.8951 58.0036C26.2162 57.8562 37.7236 53.6241 46.1079 45.3937C60.1051 31.6507 60.4204 11.2843 60.4219 11.0803C60.4247 10.6885 60.1101 10.3696 59.719 10.3661H59.7133C59.3243 10.3661 59.0076 10.68 59.0048 11.0689C59.0034 11.2673 58.6973 31.0471 45.1145 44.3818C37.0399 52.3083 25.9278 56.4236 12.0843 56.5879L14.4529 54.9838C14.7767 54.7641 14.8618 54.3234 14.6428 53.9996C14.5061 53.797 14.2822 53.6886 14.0554 53.6886C13.9187 53.6886 13.7805 53.7283 13.6587 53.8104L8.47141 57.3234L13.6473 60.9738Z' fill='%23CBCFD1'/%3E%3C/svg%3E")
	&.red
		&::after
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='72' viewBox='0 0 71 72' fill='none'%3E%3Cpath d='M13.6473 60.9738C13.9662 61.1998 14.4083 61.1226 14.635 60.8031C14.8604 60.4835 14.7838 60.0414 14.4643 59.8154L11.8951 58.0036C26.2162 57.8562 37.7236 53.6241 46.1079 45.3937C60.1051 31.6507 60.4204 11.2843 60.4219 11.0803C60.4247 10.6885 60.1101 10.3696 59.719 10.3661H59.7133C59.3243 10.3661 59.0076 10.68 59.0048 11.0689C59.0034 11.2673 58.6973 31.0471 45.1145 44.3818C37.0399 52.3083 25.9278 56.4236 12.0843 56.5879L14.4529 54.9838C14.7767 54.7641 14.8618 54.3234 14.6428 53.9996C14.5061 53.797 14.2822 53.6886 14.0554 53.6886C13.9187 53.6886 13.7805 53.7283 13.6587 53.8104L8.47141 57.3234L13.6473 60.9738Z' fill='%23D6B9BF'/%3E%3C/svg%3E")

.card-img-text
	background: #F3F6F9
	border-radius: 2rem
	padding: 4rem 3rem
	display: flex
	flex-direction: column
	text-align: center
	align-items: center
	&__img
		min-height: 15.4rem
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 3.5rem
	.h3
		font-size: 1.9rem
		line-height: 1.28
		margin-bottom: 1.2rem
		display: flex
		align-items: center
		justify-content: center
		height: 4.8rem
		overflow: hidden
	p
		font-size: 1.5rem
		line-height: 1.55