// USER VARIABLES SECTION

$accent: #5CA4ED // Accent Color
$red: #E26055
$fontsize: 1.6rem // Body Font Size
$text: #223242 // Text Color
$lineheight: 1.54 // Document Line Height
$userfont: Muller, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

=bg-r-gr
	background: linear-gradient(180deg, #F16F64 0%, #C24035 100%)
=btn-sh
	box-shadow: 0px 2px 0px #B32A1E, 0px 8px 32px rgba(25, 25, 28, 0.12)
=box-sh
	filter: drop-shadow(0px 8px 32px rgba(25, 25, 28, 0.12))

$gap: 3rem
$el-mb: 2rem
// .container media
$xxl: 123rem
$xl: 121rem
$lg: 96rem
$md: 100%
$sm: 100%

// .container & .row padding, margin
$left: 1.5rem
$right: 1.5rem

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
@import 'node_modules/swiper/swiper-bundle'
//@import 'node_modules/@fancyapps/ui/dist/fancybox'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: local($fname), url($furl) format('woff2')
		// font-display: swap // Uncomment to initially display system fonts

@include font('Muller', normal, 400, '../fonts/MullerRegular.woff2')
@include font('Muller', normal, 500, '../fonts/MullerMedium.woff2')
@include font('Muller', normal, 700, '../fonts/MullerBold.woff2')

@include font('Axiforma', normal, 800, '../fonts/Axiforma-ExtraBold.woff2')