@media only screen and (max-width: 1500px)
	html
		font-size: calc(100vw / 1440 * 10)
	.container
		max-width: $xl

@media only screen and (max-width: 1200px)
	html
		font-size: calc(100vw / 992 * 10)
	.container
		max-width: $lg

@media only screen and (max-width: 992px)
	html
		font-size: calc(100vw / 767 * 10)
	.container
		max-width: $md

@media only screen and (max-width: 767px)
	html
		font-size: calc(100vw / 576 * 10)
	.container
		max-width: $sm

@media only screen and (max-width: 576px)
	html
		font-size: calc(100vw / 375 * 10)

@media only screen and (max-width: 375px)
	//




// @media only screen and (min-aspect-ratio: 2/1) and (max-width: 900px)